{# Written by Aidan #}
{% extends 'buddi/base_without_nav_footer.html' %}
{% load static %}

{% block nav %}
{% include 'buddi/navbar.html' %}
{% endblock %}

{% block footer %}
{% include 'buddi/footer.html' %}
{% endblock %}

{% block body_block %}
{% endblock %}

<div>
    <!--This is just for testing, feel free to delete if not important -->
    <ul>
        <li><a href="{% url 'buddi:login' %}">Login</a></li>
        <li><a href="{% url 'buddi:logout' %}">Logout</a></li>
    </ul>
</div>


