{# Written by Aidan #}
{% load static %}
<div class="container-fluid bg-dark">
    <div class="row row-cols-2 p-2 justify-content-around">
        <div class="col">
            <a class="fw-bold navbar-brand" href="{% url 'buddi:index' %}">Buddi.</a>
            <div>
                <ul style="padding:0;">
                    <li class="fa fa-facebook"></li>
                    <li class="fa fa-instagram"></li>
                    <li class="fa fa-twitter"></li>
                    <li class="fa fa-envelope"></li>
                </ul>
            </div>
        </div>
        <div>
            <h5>Quick Links</h5>
            <div class="row row-cols-3 justify-content-around">
                <a href="{% url 'buddi:login' %}">Login</a>
                <a href="{% url 'buddi:logout' %}">Logout</a>
                <a>Create an account</a>
                <a>Privacy</a>
                <a>Sitemap</a>
                <a>Search</a>
            </div>
        </div>
        <div class="row w-100">
            <hr>
            <h6>&copy;{% now "Y" %} Buddi. All Rights Reserved.</h6>
        </div>
    </div>
</div>