{% extends 'buddi/base.html' %}
{% load static %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <h1> Welcome to Buddi! What are you looking for?</h1>
	<div>
	    <!-- This is where the search bar goes -->
	</div>
	<div>
	    <a href="{% url 'buddi:search' %}">Looking for a pet to sit</a>
	</div>
    <div>
	    <a href="{% url 'buddi:find-sitter' %}">Find fit sitter to take care your buddi here</a>
	</div>
    <div>
	    <a href="{% url 'buddi:register' %}">Sign up here</a>
	</div>

	
	<div>
	    <!-- This is an attempt at having the blog part in somehow -->
		<img src="{% static 'images/vet.jpg' %}"
		    alt="Picture of a vet" />
		<p>Looking for a vet?
		<!--Link to blog-->Here are our recommendations!</p>
		
		<img src="{% static 'images/pet_store.jpg' %}"
		    alt="Picture of a pet store" />
		<p>Looking for a pet sore?
		<!--Link to blog-->This is our favourite!</p>
		
		<img src="{% static 'images/pet_news.jpg' %}"
		    alt="Generic picture of happy pet" />
		<p>Want to read more pet news?
		<!--Link to blog-->Check out our blog!</a></p>
	
{% endblock %}