{% extends 'buddi/base_without_nav_footer.html' %}
{% load static %}

{% block title_block %}
Login
{% endblock %}

{% block body_block %}

<div class="container-fluid bg-primary-lighter">
    <div class="container d-flex align-items-center  min-vh-100 py-3 py-md-0">
        <div class="container col-8">
            <div class="card login-card">
                <div class="row">
                    <div class="col-md-5">
                        <img style="height: 100%; width: 100%; object-fit: cover;"
                             src="{% static 'images/cat_hero.jpg' %}" alt="Image of an owner with their cat"
                             class="login-card-image"/>
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <div class="brand-wrapper">
                                <h3 class="fw-bold display-4"><a href="{% url 'buddi:index' %}">Buddi.</a></h3>

                            </div>
                            <div class="card-subtitle">
                                <p>Sign into your account</p>
                            </div>
                            <form id="login-form" method="post" action="{% url 'buddi:login' %}">
                                {% csrf_token %}

                                <input class="mb-4 input-group form-control" type="text" name="username"
                                       placeholder="Username"/>
                                <input class="mb-4 form-control" type="password" name="password" placeholder="*******"/>
                                <input class="btn mb-4 btn-primary no-border-radius" type="submit" value="Login"/>
                            </form>
                            <a>Forgotten password?</a>
                            <hr>
                            <p class="text-muted">Dont have an account</p>
                            <a href="{% url 'buddi:register' %}">Register here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

