{% extends 'buddi/base.html' %}
{% load static %}

{% block title_block %}
{{current_user.username }}
{% endblock %}

{% block body_block %}
    <div>
	<!-- current_user is actually the one whose page we are trying to view, not the user using buddi, I am sorry -->
	    {% if user == current_user and user.is_authenticated %}
	         <h2>My Profile</h2>
			 <a href="{% url 'buddi:logout' %}">Logout</a>
	    {% else %}
	        <h2>Owner Profile - {{current_user.username }}</h2> 
		{% endif %}
		
	</div>
	<div>
	    <strong>Name: </strong>{{ current_user.first_name }} {{ current_user.last_name}} </br>
		<strong>Location: </strong>{{ userprofile.region }} </br>
		<strong>Rating: </strong> </br>
	</div>
	<div>
	    {% if user.is_authenticated %}
		    {% if user != current_user %}
			    <strong>Rate this owner: </strong> </br>
			{% endif %}
			{% if userprofile.is_sitter %}
			<a href="{% url 'buddi:sitter' current_user.username %}">I am also a sitter. Click here to see my profile!</a>
			{% endif %}
		{% endif %}
	</div>
	<div>
        {% if user.is_authenticated and user == current_user %}
	        <h2>My Posts</h2>
	    {% else %}
	        <h2>Owner's Listings</h2>
		{% endif %}
	</div>
	<div>
	{% if pets %}
        <ul>
	    {% for pet in pets %}
		    {% if pet.is_displayed == True or user == current_user %}
		    <li>
			    <strong>Name: </strong>{{ pet.name }} </br>
				<strong>Type: </strong>{{ pet.type }} </br>
				<strong>Age: </strong>{{ pet.age }} </br>
				<strong>Gender: </strong>{{ pet.sex }} </br>
				<strong>Pet is neutered: </strong> {{ pet.is_neutered }} </br>
				<strong>Exercise needed? </strong> {{ pet.requires_exercise }} </br>
				{% if pet.requires_exercise == True %}
				    <strong>Exercise requiremenets: </strong> {{ pet.exercise_requirement }} hours per day </br>
				{% endif %}
				<!--strong>Date: </strong>{{ pet.date }}-->
				{% if pet.bio != '' %}
				    <strong>Additional information: </strong>{{ pet.bio }} </br>
				{% endif %}
				{% if user.is_authenticated and user == current_user %}
				    <a href="{% url 'buddi:delete_animal' pet.id %}"> Delete {{ pet.name }}</a>
				{% endif %}
			</li>
			{% endif %}
		{% endfor %}
		</ul>
	{% else %}
	    No pets to display.
	{% endif %}
	</div>
	<div>
	{% if user.is_authenticated and user == current_user %}
	    <a href="{% url 'buddi:add_pet' user %}"><strong>Add a pet</strong></a>
	{% endif %}
{% endblock %}